@{
    var ogrenci = ViewBag.Ogrenci as dynamic;
}

<h1>Not Ekle</h1>

<form method="post" asp-controller="OgretimElemani" asp-action="NotEkle">

    <input hidden="" type="text" class="form-control" name="OgrenciID" value="@ogrenci.OgrenciID" readonly>
    <input hidden="" type="text" class="form-control" name="SinavID" value="@ViewBag.Sinav.SinavID" readonly>
    <div class="mb-3">
        <label for="ogrenciID" class="form-label">Öğrenci Adı:</label>
        <input type="text" class="form-control" name="OgrenciAdi" value="@ogrenci.Adi" readonly>
    </div>
    <div class="mb-3">
        <label for="sinavID" class="form-label">Sınav Adı:</label>

        <input type="text" class="form-control" name="SinavAdi" value="@ViewBag.DersAdi" readonly>


    </div>
    <div class="mb-3">
        <label for="not" class="form-label">Sınav Notu:</label>
        <input type="number" class="form-control" name="SinavNotu">
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>