<!DOCTYPE html>
<html>
<head>
    <title>404 - Sayfa Bulunamadı</title>
</head>
<body>
    <center>
        <h1>404 - Sayfa Bulunamadı</h1>
        <p>Aradığınız sayfa maalesef bulunamadı.</p>
    </center>
</body>
</html>