
<title>Transkript</title>

<iframe src="@Url.Action("TranskriptDosyasi", "Ogrenci")" width="100%" height="600px"></iframe>
 
@* <script>


    if (document.referrer !== "https://localhost:7259/Ogrenci/Transkript/") {
        // İzin verilmeyen referrer, iframe içeriğini kaldırabilir veya işlem yapabilirsiniz.
        // Örnek olarak:
        document.getElementById("myIframe").style.display = "none";
    }

</script> *@

