@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/next-sidebar.css" />
    <link rel="stylesheet" href="~/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>

        .active-link {
            background-color: grey;
            color: #fff;
        }

    </style>
</head>


<body class="app">
    <div class="sidebar">
        <div class="sidebar-inner">
            <div class="sidebar-logo">
                <div class="d-flex align-items-center flex-nowrap">
                    <a class="sidebar-link text-decoration-none" href="#">
                        <div class="d-flex align-items-center flex-nowrap">
                            <div class="logo-sm">
                                <div class="logo d-flex align-items-center justify-content-center">
                                    <img src="/images/logo.png" width=40">
                                </div>
                            </div>
                            <div class="text-center mt-3 mb-3" style="margin-left: 34%">
                                <img src="/images/logo.png" width="80">
                            </div>
                        </div>
                    </a>
                    <div class="">
                        <div class="mobile-toggle sidebar-toggle">
                            <a href="#" class="text-decoration-none">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <ul class="sidebar-menu scrollable position-relative pt-3">

                    <li class="nav-item dropdown">
                        <a class="nav-link wave-effect" href="/OgretimElemani/">
                            <span class="icon-holder">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="title">Anasayfa</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link wave-effect" href="#">
                            <span class="icon-holder">
                                <i class="fas fa-folder-open"></i>
                            </span>
                            <span class="title">Ders İşlemleri</span>
                            <span class="arrow">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/Mufredat">Bölüm Müfredatı</a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/Ders">Verilen Dersler</a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/DersProgrami">Ders Programı</a>
                            </li>
                            @*  <li>
                        <a class="sidebar-link" href="">Ders Kayıt</a>
                        </li> *@
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link wave-effect dropdown-toggle" href="#">
                            <span class="icon-holder">
                                <i class="fas fa-fingerprint"></i>
                            </span>
                            <span class="title">Sınav İşlemleri</span>
                            <span class="arrow">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/Sinav">Sınav Listesi</a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/SinavEkle">Sınav Tanımla</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">
                            <span class="icon-holder">
                                <i class="fas fa-folder-open"></i>
                            </span>
                            <span class="title">Diğer İşlemler</span>
                            <span class="arrow">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/Profil">Özlük Bilgileri</a>
                            </li>
                            <li>
                                <a class="sidebar-link" href="/OgretimElemani/Danismanlik/">Danışmanlık</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <ul class="sidebar-menu scrollable position-relative pt-3">

                        <li class="nav-item dropdown">
                            <a class="nav-link wave-effect" href="/Ogrenci/">
                                <span class="icon-holder">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span class="title">Anasayfa</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link wave-effect" href="#">
                                <span class="icon-holder">
                                    <i class="fas fa-folder-open"></i>
                                </span>
                                <span class="title">Ders İşlemleri</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/Mufredat">Bölüm Müfredatı</a>
                                </li>
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/Ders">Dönem Dersleri</a>
                                </li>
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/DersProgrami">Ders Programı</a>
                                </li>
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/DersKayit/">Ders Kayıt</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link wave-effect dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="fas fa-fingerprint"></i>
                                </span>
                                <span class="title">Sınav İşlemleri</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>      
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/Sinav/">Sınav Notları</a>
                                </li>
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/SinavTakvimi">Sınav Takvimi</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#">
                <span class="icon-holder">
                <i class="fas fa-folder-plus"></i>
                </span>
                <span class="title">Belgeler</span>
                <span class="arrow">
                <i class="fas fa-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                @* <li>
                <a class="sidebar-link" href="#">Öğrenci Belgesi</a>
                </li> *@
                <li>
                <a class="sidebar-link" href="/Ogrenci/Transkript">Transkript</a>
                </li>
                </ul>
                </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="fas fa-folder-open"></i>
                                </span>
                                <span class="title">Diğer İşlemler</span>
                                <span class="arrow">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="sidebar-link" href="/Ogrenci/Profil">Özlük Bilgileri</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            }

        </div>
    </div>
    <div class="container-wide">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a id="sidebar-toggle" class="sidebar-toggle nav-link" href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link">Hoş geldiniz, @User.Identity.Name</a>
                    }

                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                    {

                        <a class="nav-link" asp-action="CikisYap" asp-controller="Ogrenci">Oturumu Kapat</a>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="nav-link" asp-action="CikisYap" asp-controller="OgretimElemani">Oturumu Kapat</a>
                    }
                </li>
            </ul>
        </nav>
        <div class="container mt-5">
            <h1 align="center">
                @if (ViewBag.Title != null)
                {
                    @ViewBag.Title
                }

            </h1>

            <p align="center lead">
                @RenderBody()
            <p>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/js/perfect-scrollbar.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="~/js/next-sidebar.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <script src="~/jquery/jquery.js"></script>
        <!-- Bu betiği HTML dosyanızın başına ekleyin -->
        <script>
            $(document).ready(function () {
                // Sayfa yüklendiğinde aktif bağlantıyı ve alt menüyü vurgula
                var currentPath = window.location.pathname;
                $(".sidebar-link").removeClass("active-link");
                $(".sidebar-link[href='" + currentPath + "']").addClass("active-link");

                // Alt menüleri açık tutma
                var activeSubMenu = $(".sidebar-link.active-link").closest(".nav-item.dropdown");
                console.log(activeSubMenu.length)
                if (activeSubMenu.length > 0) {
                    // Bootstrap dropdown öğelerini başlat
                    activeSubMenu.addClass("show");
                    activeSubMenu.find('.dropdown-toggle').attr('aria-expanded', true);
                    activeSubMenu.find('.dropdown-menu').addClass('show');
                }
            });

        </script>

        <script>
            $(document).ready(function () {

                $("#sidebar-toggle").click(function () {
                    $(".sidebar").toggleClass("sidebar-open");
                });
                var currentPath = window.location.pathname;
                $(".sidebar-link").removeClass("active-link");
                $(".sidebar-link[href='" + currentPath + "']").addClass("active-link");
            });
        </script>

</body>

</html>
